body{

	background-color: black ;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 3rem;
  color: #B05E00;

}

.add{
	background-color: #B05E00;
	border-radius: 3px;
	border:none;
	padding: 1rem;
	position: fixed;
	top: 1rem;
    right:1rem;
    cursor: pointer;
}

.note{

	background-color: #0D0C0B;
	margin: 20px;
	width: 350px;
	height: 350px;
}

.note .tools{
       
       background-color: #B05E00;
       display: flex;
       justify-content: flex-end;
       padding: .5rem;
}

.note .tools button{
	background-color: transparent;
    border:none;
    color: black;
    padding-left: 1rem;
    font-size: 1rem;
    cursor: pointer;
}
.note .main{

    height: 350px;
    overflow: hidden;
    width: 100%;
    font-size: 3rem;
    background-color: #0D0C0B;

}

.note textarea{
  background-color: #0D0C0B;
	height: 350px;
    overflow: hidden;
    width: 99%;
    border:none;
    outline:0px none transparent;
     color: #B05E00;
}
.note .hidden{
	display: none;
}

